<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    <h1>Image Insertion</h1>
    <img src="https://th.bing.com/th/id/R.56ed09805410aff52779d5541184348c?rik=sMV5f5iyzwcgPg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-zAPBI-NBoe8%2fVbilxm9KhKI%2fAAAAAAAAMBk%2fP1_ehL2JlEQ%2fs1600%2fJr-NTR-Photo.jpg&ehk=uUUMwrFoovIJokU%2fFN6JR4g0kSwgUvlZLCPUivibVlQ%3d&risl=&pid=ImgRaw&r=0" alt="">
</body>
</html>